web/sites/default/files/php
web/sites/default/files/js
web/sites/default/files/css
vendor
web/core
web/modules/contrib
.idea
/web/sites/default/files/xmlsitemap
/web/sites/default/files/media-icons
/tests
/recipes
/playwright.config.js
/playwright.atk.config.js
/package.json
.prettierrc.json
.DS_Store
