<div{{ attributes }} class="pl-video-wrapper">
  {{ title_suffix.contextual_links }}
  <div class="pl-video-embed">
    {{ content.field_media_oembed_video }}
  </div>
  <div class="pl-media-caption">
    {{ content.field_caption }}
  </div>
</div>
