.region--footer {
  background-color: var(--pl-neutral-darkest);
  bottom: 0;
  color: var(--pl-neutral-light);
  font-family: 'Rubik', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5;
  padding: var(--pl-sp-3xl) 0 var(--pl-sp-2xl);
  position: relative;
  text-align: center;
  z-index: 2;

  a {
    color: var(--pl-blue-light);
  }

  a:hover {
    color: var(--pl-white);
  }
}

.footer-background {
  background-color: var(--pl-neutral-darkest);
  bottom: 0;
  height: 10rem;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.pl-logo img {
  width: 200px;
}
