.region--header {
  color: var(--pl-neutral-darkest);
  padding: var(--pl-sp-md) 0;

  .pl-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.header__logo img {
  height: 46px;
}
