.region--hero {
  padding: var(--pl-sp-6xl) 0;
  text-align: center;
}

.hero-text {
  margin: 0 auto;
  text-wrap: balance;
  width: 80%;

  h1 {
    font-size: 4.5rem;
    line-height: 4.75rem;
    margin: 0 0 var(--pl-sp-2xl);
  }

  p {
    font-size: 1.25rem;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin: 0 auto;
    width: 80%;
  }
}
