{{ attach_library('pl_drupal_forge/main') }}

<div>
  <p>Once upon a time, in one far away Web Development Studio… (here
    should be an inspiring story on the value of end-to-end testing). </p>
  <p>Press the  button below to run
    <a href="https://www.drupal.org/project/automated_testing_kit/"
       target="_blank">Automated Testing Kit 💧</a>
    against <a href="{{ base_url }}">{{ base_url }}</a>.</p>
  <button id="the-button">Press the button</button>
</div>
