/*start tinkering js-multiselect*/
* {
  --sp2: 20px;
  --sp3: 42px;
}

[type='search'] {
  min-height: 29px !important;
}

textarea {
  display: inline !important;
}
/*end tinkering js-multiselect*/
