#stats {
  padding: 10px;
}

.stats {
  background-color: black;
  border-radius: 10px;
  color: white;
  margin: 5px;
  padding: 10px;
}

.stats.passed {
  background-color: darkgreen;
}

.stats.failed {
  background-color: maroon;
}

.stats.skipped {
  background-color: darkgrey;
}

.suite {
  background-color: black;
  border-radius: 5px;
  color: white;
  display: block;
  margin: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.suite.passed {
  background-image: linear-gradient(
    rgb(89, 189, 24) 0%,
    rgb(70, 145, 30) 51.22%,
    rgb(29, 120, 0) 100%
  );
}

.suite.failed {
  background-image: linear-gradient(
    rgb(255, 49, 24) 0%,
    rgb(216, 25, 9) 51.22%,
    rgb(191, 10, 0) 100%
  );
}

.suite summary {
  cursor: pointer;
}

.spec {
  border-radius: 5px;
  display: block;
  margin: 5px;
  margin-left: 20px;
  padding: 5px;
  position: relative;
  width: 100%;
}

.result {
  font-family: monospace, monospace;
}

.result > span {
  padding: 3px;
}

.result > .passed {
  background-color: darkgreen;
}

.result > .failed {
  background-color: maroon;
}

.result > .duration {
  color: #888888;
}

.popup {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.popup-content {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.popup:target {
  display: flex;
}

.popup-link {
  background-color: #007bff;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.popup-close-link {
  background-color: #c0c0c0;
  border-radius: 3px;
  margin: 10px;
  padding: 5px 10px;
  position: absolute;
  right: 30px;
  text-decoration: none;
  top: 10px;
}
